body {
  margin: auto;
  width: 50rem;
}

div {
  padding: 20px;
  /* border: 1px solid red; */
}

div.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0 auto;
}

div.row div.space {
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
  display: inline-block;
}

div.row div.space {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

#winners-circle {
  text-align: center;
  font-size: 4rem;
  height: 4.5rem;
}

.winner {
  background-color: red;
}